* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #2a2a2a;
  body {
    background: linen;
  }
}
// Header
.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20000;
  background: linen;
  box-shadow: 0 1px 10px rgb(45, 54, 68);
  .header-title {
    font-family: "Pacifico", sans-serif;
  }
  button {
    width: 2.2em;
    height: 2.2em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: none;
    background: #2a2a2a;
    cursor: pointer;
    i {
      color: linen;
    }
  }
}
// Name Section
.blog-name-section {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 50000;
  flex-direction: column;
  header {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
    width: 100%;
    height: 10vh;
    button {
      width: 2.2em;
      height: 2.2em;
      border-radius: 50%;
      background: #2a2a2a;
      border: none;
      cursor: pointer;
      i {
        color: linen;
      }
    }
  }
  .blog-name {
    margin-bottom: 0.5em;
    border: 2px solid #2a2a2a;
    padding: 0.2em 0.5em;
    font-size: 1em;
  }
  .add-name-btn {
    font-size: 1em;
    border: 2px solid #2a2a2a;
    padding: 0 2em;
    cursor: pointer;
    background: #fff;
    color: #2a2a2a;
  }
}
// Post List
.post-list {
  width: 100%;
  min-height: 90vh;
  padding: 1em 1em 0 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  overflow: hidden;
  overflow-y: scroll;
}
// Post
.post {
  width: 90vw;
  border: 1px solid #2a2a2a;
  margin-bottom: 1em;
  position: relative;
  background: #2a2a2a;
  .post-header {
    width: 100%;
    height: 50px;
    border: 1px solid #fff;
    padding: 0.8em 0.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    .post-title {
      color: linen;
      font-size: 1.2em;
    }
  }
  .post-content {
    width: 100%;
    height: 150px;
    border: 1px solid #fff;
    padding: 0.2em 0.5em;
    overflow: hidden;
    overflow-y: scroll;
    .post-text {
      width: 100%;
      height: 100%;
      color: linen;
    }
  }
  .post-date {
    width: 100%;
    height: 28px;
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5em;
    p {
      color: linen;
    }
  }
  i {
    position: absolute;
    top: 0em;
    right: 0em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 10000;
    color: linen;
  }
}
// Post Section
.post-section {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30000;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1em;
  header {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
    .close-post-section-btn {
      width: 2.2em;
      height: 2.2em;
      border-radius: 50%;
      cursor: pointer;
      display: grid;
      place-items: center;
      border: none;
      background: #2a2a2a;
      cursor: pointer;
      i {
        color: linen;
      }
    }
  }
  .post-title {
    width: 100%;
    padding: 0.2em 0.5em;
    font-size: 1em;
    border: 2px solid #2a2a2a;
    background: #fff;
    margin-bottom: 1em;
  }
  textarea {
    width: 100%;
    height: 200px;
    border: 2px solid #2a2a2a;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    resize: none;
  }
  .add-post-btn {
    padding: 0em 2em;
    font-size: 1em;
    border: 2px solid #2a2a2a;
    color: #2a2a2a;
    background: #fff;
    cursor: pointer;
  }
}
